language: php

dist: trusty
sudo: required

php:
  - 5.5
  - 5.6
  - 7.0

services:
  - mongodb
  - memcached

before_script:
  - phpenv config-add tests/travis/php.ini
  - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git -b 3.2.x
  - (cd cphalcon/build; bash install &>/dev/null)
  - (phpenv config-add cphalcon/tests/_ci/phalcon.ini &> /dev/null)
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script:
  - cp tests/config.php.sample tests/config.php
  - php vendor/bin/phpunit -c tests/phpunit.xml
